.navbar-nav{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration:#49af58;
  font-weight: bold;
}
#nav-bar
{
	background-color:#b5d1a9;
	position:static;
	top:0;
	z-index:10;
}

.nav-link {
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a{
	color:rgb(8 0 0);
}

