/* General styles */
body {
  /* background-color: rgb(69, 70, 65); */
  background-image: url(rupixen-com-GKxytNBXqfA-unsplash.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 10px;
}

/* Header styles */
header {
  background-color: #0059ac;
  color: white;
  padding: 10px;
}

header h1 {
  margin: 0;
  font-size: 24px;
}

header ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

header ul li {
  display: inline-block;
  margin-right: 10px;
}

header ul li a {
  text-decoration: none;
  display: block;
  padding: 6px 12px;
  color: white;
  background-color: #0059ac;
  border: none;
  border-radius: 3px;
  font-size: 12px;
}

/* Table styles */
#customer-table {
  margin-top: 20px;
  border-collapse: separate;
  border-spacing: 0 10px; /* Add spacing between rows */
  width: 100%;
}

#customer-table th,
#customer-table td {
  padding: 8px;
  text-align: left;
}

#customer-table th {
  background-color: #005eac;
  color: white;
}

#customer-table td {
  background-color: #030303;
  color: aliceblue;
}

#customer-table tbody tr:first-child td {
  padding-top: 10px; /* Add space at the top of the first row */
}

#customer-table tbody tr:last-child td {
  padding-bottom: 10px; /* Add space at the bottom of the last row */
}

/* Script button styles */
#customer-table .action-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 6px 12px;
  font-size: 12px;
  cursor: pointer;
}

#customer-table .action-button:hover {
  background-color: #45a049;
}



/* Responsive styles */
@media only screen and (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }
  h1 {
    font-size: 24px;
  }
  ul {
    margin-top: 10px;
    flex-wrap: wrap;
  }
  li {
    margin-right: 0;
    margin-bottom: 10px;
  }
  button {
    margin-right: 10px;
  }
  #customer-table {
    font-size: 14px;
  }
  th, td {
    padding: 5px;
  }
}
  